/* Processed by Shaun Inman's CSS-SSC :: http://www.shauninman.com/plete/css-ssc/ */

/* --------------------------------  Forms -------------------------------- */

form p {
	clear: left;
	}

input, textarea, select, option {
	font: 1em Verdana, sans-serif;
	color: #000;
	}

label, span.legend {
	float: left;
	width: 80px;
	}

p.checkbox, p.radio {
	float: left;	/*	needs to float to take up the right amount of space (all the contents floats) 	*/
	width: 100%;	/*	ie needs this	*/
	}

p.checkbox input, p.radio input {
	float: left;
	background: 0 none;
	}

p.checkbox label, p.radio label {
	width: auto;
	padding: 2px;
	font-weight: normal;
	}

label.tip {
	cursor: help;
	background: transparent url(/images/bg-tip.png) no-repeat top right;
	}

input.text {
	width: 100px;
	}

textarea {
	width: 270px;
	height: 80px;
	}

input.button {
	padding: 0 4px;
	}

#errorbox {
	border-top: 1px dotted #c00;
	border-bottom: 1px dotted #c00;
	margin: 20px 0;
	}

fieldset.checkboxgroup {
		margin: 0;
		padding: 0;
		border: 0 none;
}

fieldset.checkboxgroup ul {
		margin: 0;
		padding: 0;
}

fieldset.checkboxgroup ul li {
		position: relative;
		list-style: none;
		padding: 3px 20px 0 20px;
		zoom: 1;                       /* IE   */
		display: inline;       /* IE   */
		}
html > body .checkboxgroup ul li {
		float: left;           /* Others      */
		}

fieldset.checkboxgroup ul li.endline {
		}
/* the newline stuff needs to be revisited for ie    */
fieldset.checkboxgroup ul li.newline {
		clear: left;
		}

fieldset.checkboxgroup legend {
		font-weight: bold;
		margin-left: -7px;
		color: #999;
}

fieldset.checkboxgroup input {
		position: absolute;
		top: 0;
		left: 0;
		}

fieldset.checkboxgroup label {
		width: auto !important;
		float: none !important;
		font-weight: normal;
}


/* -----------------------------  Image Gallery ----------------------------- */

#gallery {
	width: 417px;
	float: right;
	margin-left: 30px;
	}

#gallery p {
	display: none;
	}

#gallery .thumb {
	margin: 1px;
	float: left;
	border: 1px solid #ccc;
	}

#gallery .thumb img {
	display: block;
	}

#gallery .caption {
	display: none;
	}

#gallery .tools {
	clear: right;
	float: right;
	margin: 0;
	}

#gallery .gallerypages {
	text-align: right;
	}

#gallery .clear {
	font-size: 1px;
	}

/*-----------------------------  News List ----------------------------- */

div.newslist {
	margin-top: 10px;
	}

div.newslist ul {
	clear: both;
	padding: 0;
	margin: 0;
}

div.newslist li {
	list-style: none;
	clear: right;
	margin: 0 0 20px 0;
}

div.newslist li.short {
	margin-bottom: 10px;
}

div.newslist li.divider {
	margin-bottom: 10px;
	border-top: 1px solid #000;
	}

div.newslist li.archivelink {
	font-weight: bold;
	margin-top: 30px;
	}

div.newslist li h4 {
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

div.newslist li p.teaser {
	margin: 5px 0 0 0;
	padding: 0;
	}

div.newslist li p.more {
	text-align: right;
	margin: 0;
	}

div.newslist .date {
	float: right;
	width: 100px;
	text-align: right;
	margin: 0;
	font-weight: normal;
	}

div.newslist li h2 {
	border-bottom: 1px solid #000;
	padding: 0;
}

div.newslist li.group, div.newslist li.group ul {
	padding: 0;
}

/*-----------------------------  Event List ----------------------------- */


ul.eventlist  {
	padding: 0;
	margin: 0;
}

ul.eventlist li {
	list-style: none;
	clear: right;
	margin: 0 0 20px 0;
}

ul.eventlist li.short {
	margin-bottom: 10px;
}

ul.eventlist li.divider {
	margin-bottom: 10px;
	border-top: 1px solid #000;
	}

ul.eventlist li p.teaser {
	margin: 5px 0 0 0;
	padding: 0;
	}

ul.eventlist li p.more {
	text-align: right;
	margin: 0;
	}

ul.eventlist .date {
	float: right;
	margin: 0;
	font-weight: bold;
	}

ul.eventlist li h4 {
	border-bottom: 1px solid #000;
	padding: 0;
	margin: 0;
}

ul.eventlist li h4 a {
	text-decoration: none;
}

/* ----------------------------------- Accessible More Links ---------------------------------------*/

/* Hide the span off screen	*/
.more span {
	position: absolute;
	left: -2000px;
	width: 900px;
	}

/* On 'hover' set the anchor to 'position:relative' to get a measuring point.
	Somehow IE doesn't like it when this is in the '.more a' declaration...*/
.more a:hover, .more a:focus, .more a:active {
	position: relative;
	}

/* Take the previously hidden span and display it near the anchor   */
.more a:hover span, .more a:focus span, .more a:active span {
	left: 20px;
	top: 20px;
	width: 100px;
	padding: 5px;
	line-height: 1.1em;
	font-size: 10px;
	background: #fff;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
	text-align: left;
	}

/* IE doesn't show this - but others do.  */
.more a:hover span:before, .more a:focus span:before, .more a:active span:before {
	content: "Read more about";
	}

/* ----------------------------------- Newsletter Signup ---------------------------------------*/

#supportingcontent .errortitle {
	display: none;
}

#supportingcontent #errorbox {
	border: none;
}

#supportingcontent #errorlist {
	color: red;
	list-style: none;
	padding: 0;
	margin: 0;
}

#supportingcontent li {
	color: red;
	list-style: none;
	font-weight: bold;
}

#newslettersignup .success {
	font-weight: bold;
	margin: 5px 0
}

/* -------------------------------- Search Results ------------------------------------*/

#searchresults h3 {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 5px;
}

#searchresults .item {
	margin: 15px 0 25px 0;
}

#searchresults h4 {
	font-size: 10px;
}
#searchresults p {
	font-size: 10px;
}

#searchresults p.summary {
	margin: 2px 0;
}
#searchresults p.crumbs {
	margin-top: 2px;
}
