/* Processed by Shaun Inman's CSS-SSC :: http://www.shauninman.com/plete/css-ssc/ */

/* Processed by Shaun Inman's CSS-SSC :: http://www.shauninman.com/plete/css-ssc/ */

/*---------------------- Product sections ------------------------------------*/

/*#productoverview {
	float: right;
	background: url(/images/productoverview-bottom.gif) no-repeat bottom left;
	margin: 1.2em 0.5em 1em 1em;
	padding: 0;
	width: 200px;
}

#productoverview a, #productoverview a:visited, #productoverview a:active {
	color: black;
}

#productoverview div {
	background: url(/images/productoverview-back.gif) repeat-y;
}

#productoverview .heading {
	height: 18px;
	background: url(/images/productoverview-h3.jpg);
	padding-top: 4px;
}
#productoverview h3 {
	margin-left: 40px;
	color: #fff;
	height: 15px;
	font-size: 12px;
}

#productoverview ul {
	margin: 0.5em 0;
	padding: 0;
}

#productoverview ul li {
	padding: 3px 0 3px 0;
	margin-left: 30px;
}

#productoverview li.thiscontent a {
	font-weight: bold;
}

#productoverview ul li.navimage {
	list-style: none;
	padding: 0;
	margin: 5px 10px;
	width: 180px;
	overflow: hidden;
}*/

.sectionimage { text-align:center; }

#productoverview h3 {
}

#productoverview .productinfo {
	/*border-top:270px solid white; /* reserve space for image above */
	background-image:url(/images/internal-tabs-underline-bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
	height:22px;
	width:580px;
	margin:0;
	padding:0;
	/*margin-top:20px;*/
}

#productoverview > .productinfo {
	height:20px;
}

#productoverview .productinfo li {
	float:left;
	padding:3px 0px 5px 0px;
	list-style:none;
	height:10px;
	border:1px solid #777788;
	position:relative;
	margin-right:7px;
	background-image:url(/images/internal-tabs-ie-bg.png);
	border-left:1px solid #777788;
	border-right:1px solid #777788;
	border-bottom:0px;
}

#productoverview .productinfo > li {
	top:-2px;
	padding:3px 0px 7px 0px;
	border-bottom:1px soid #777788;
}

#productoverview .productinfo li.thiscontent {
	background-image:none;
	background-color:white;
	border-bottom:0px solid white;
}

#productoverview .productinfo > li.thiscontent {
	border-bottom:1px solid white;
}

#productoverview .productinfo li.thiscontent a {
	/*background-image:url(/images/products-subnav-selected-bg.png);
	background-position:right;
	background-repeat:no-repeat;
	color:white;*/
}

#productoverview .productinfo li a {
	color:#000;
	text-decoration:none;
	padding:5px 8px;
	font-weight:bold;
}

#productoverview p {
	clear:both;
}

.productinfolinks img {
	position:relative !important;
	top:6px !important;
	left:0px !important;
}

#productoverview div.articlecontent {
	margin-top:-1px;
	border-top:0px solid white;
	border-left:1px solid #7c7c7c;
	border-right:1px solid #7c7c7c;
	border-bottom:1px solid #7c7c7c;
	padding:10px;
	width:559px;
}

#productoverview div.notabs {
	border:0px solid black !important;
}

#productoverview div.articlecontent p {
	margin-top:0px;
	/*margin-bottom:0px;*/
}

.productinfolinks {
	margin:0;
	padding:0;
	overflow:hidden;
}

.productinfolinks li {
	float:left;
	list-style:none;
	background-image:url(/images/productinfo-list-pipe.png);
	background-repeat:no-repeat;
	background-position:7px 10px;
	margin-left:-10px;
	margin-right:12px;
}

.productinfolinks li a {
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:0.9em;
}

.productinfolinks li a img {
	padding:0px 6px 0px 18px;
}

.productinfolinks li a:hover {
	color:#b70a24;
}

#maincontent .heading {
	position:relative;
}

#maincontent .heading h3 {
	color:#000;
	padding-left:12px;
	background-image:url(/images/products-heading-bg.png);
	background-repeat:no-repeat;
	background-position:left center;
}

#crumb { display:none; }
/* ------------------------------ Product files ---------------------------------------*/

.documentgroup {
	clear: both;
	width: 560px;
	/*border-bottom: 1px solid #CCC;*/
	padding: 0px 0;

}
.documentgroup h2 {
	margin: 0;
	padding: 1em 0.2em 0.5em 0.2em;
	font: normal 1.8em /1 Verdana, sans-serif;
	/*background: #FAFAFA;
	margin:1px 0px 0px !important;*/
}
.documentgroup table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.documentgroup table caption {
	padding: 0.8em 0.0em;
	font: bold 1.0em /1 Verdana, sans-serif;
	text-align: left;
	margin: 0;
}
.documentgroup table.category0 caption {
	display: none;
}
.documentgroup table thead {
	background: #F6F6F6;
}
.documentgroup table thead tr {
	margin: 0;
	padding: 0;
}
.documentgroup table thead td {
	text-align: left;
	font-weight: bold;
	padding: 0.2em;
	margin: 20px;
}
.documentgroup table tbody td {
	padding: 0.5em 0.2em;
	margin: 0;
}
.documentgroup table a {
	color: #E22;
	text-decoration: underline;
}
.documentgroup table a:visited {
	color: #A00;
}
.documentgroup table a:hover {
	color: #F33;
	text-decoration: none;
}

.documentgroup td.lastupdated {
	width: 150px;
}
.documentgroup td.size{
	width: 50px;
}

.documentgroup .fileicon {
	padding: 5px 0 5px 20px;
	background: url(/images/filetypes/page_white.png) left center no-repeat;
}
.documentgroup a.pdf {
	background-image: url(/images/filetypes/page_white_acrobat.png);
}
.documentgroup a.doc {
	background-image: url(/images/filetypes/page_word.png);
}
.documentgroup a.xls {
	background-image: url(/images/filetypes/page_excel.png);
}
.documentgroup a.txt {
	background-image: url(/images/filetypes/text-x-generic.png);
}
.documentgroup a.png,
.documentgroup a.gif,
.documentgroup a.jpg {
	background-image: url(/images/filetypes/image-x-generic.png);
}
.documentgroup a.exe {
	background-image: url(/images/filetypes/application.png);
}


/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development standards
Author : Cody Lindley

- - - - - - - - - - - - - - - - - - - - - */

/* ---------->>> CSS Hacks <<<---------------------------------------------------------------*/
/*
*{padding: 0; margin: 0;}


body {background-color:#fff;}

html, body {
min-height: 100%;
height: auto !important;
height: 100%;
}

html body{font: 62.5%/1.4em Arial, Helvetica, sans-serif;color:#333333}
html>body{font: 62.5%/1.4em Arial, Helvetica, sans-serif;color:#333333}

p, table, ul, dl, #TB_window  {font-size: 1.2em}


a:link {color: #CC6633;}
a:visited {color: #CC6633;}
a:hover {color: #999966;}
a:active {color: #CC6633;}
a:focus{color: #CC6633;}

p {line-height:1.4em;margin:10px 0;}
hr{margin:10px 0;color:#999999;}

ul{
	list-style: none;
}

ul li{
padding-top:6px;
}
*/

#contentPad{
margin:20px;
}

#TB_overlay {
	position: absolute;
	z-index:100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	min-height:100%;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#TB_load{
display:none;
}

#TB_window {
	position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
}

#TB_window img {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}
#TB_window iframe {
	display:block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 480px;
	border: none;
}

#TB_caption{
	height:25px;
	padding:10px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:10px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}

#TB_ajaxContent{
	overflow:auto;
}

#TB_load{
	position: absolute;
	display:none;
	height:100px;
	width:100px;
	z-index:101;
}

#TB_HideSelect{
z-index:99;
position:absolute;
top: 0;
left: 0;
width:100%;
height:100%;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
display:none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #c2beba;
}

#container {
	background-color: #c4c0bd;
	background-image:url(/images/container-dropshadow.png);
	width: 801px;
	padding-left: 11px;
	padding-right: 14px;
}

.fixedwidth {
	position: relative;
	width: 801px;
	margin: 0 auto;
}

#skip, #print {
	display: none;
}

#header {
	/*background: #b83024 url(/images/header_back.gif) repeat-y;*/
}

#header h1 {
	padding:0px;
	margin: 0;
	line-height:0px;
}

h2#tagline {
	position: absolute;
	top: 29px;
	left: 206px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	word-spacing: 0.2em;
	width: 250px;
	padding: 0;
	margin: 0;
}

/* ---------------------------- Content area ---------------------------------------*/

#content {
	/*background: #fff url(/images/content-striped.gif) left top repeat-y;*/
	float: left;
	width: 801px;
	background-image:url(/images/subnav-bg.png);
	background-repeat:repeat-y;
	border-bottom:12px solid white;
}

body.internal #content {
	/*background: #fff url(/images/content-white.gif) left top repeat-y;*/
	float: left;
	width: 801px;
}

div#maincontent {
	float: left;
	width: 559px;
	background: #fff;
	min-height:700px;
}

body.internal #maincontent {
	/*width: 543px;*/
	padding: 10px 0px 10px 0px;
	min-height: 300px;
}

#maincontent h1 {
	/*margin-top:5px; need to figure out why this was removed*/
}

div.articlecontent table td p { 
	padding-top:3px; 
	margin-bottom:3px;
}


/* ---------------------------- Landing page ---------------------------------------*/

body.landing #header {
	height: 90px;
}

body.landing #content {
	padding: 0;
	margin: 0;
}
body.landing #content #maincontent {
	width: 100%;
	padding: 0;
	border: none;
}
body.landing #maincontent h1 {
	/*color: #E7E7E7;*/
	letter-spacing: 0;
	margin: 0;
	padding: 2.5em 0px;
	color:black;
	font-weight:bold;
	font-size:1.3em;
}
body.landing #subnav {
	display: none;
}
body.landing #map {
	position: relative;
	text-align: center;
	margin-bottom:1em;
}
body.landing img.regionmap {
	border: none;
}
/*#emptymainnav {
	background: #4e4e4e url(/images/nav.gif);
	height: 31px;
	width: 100%;
}*/

#emptymainnav {
	background-image:url(/images/nav-wide.png);
	background-color:#EEE;
	background-position:0px 10px;
	background-repeat:repeat-x;
	border-bottom:1px solid #555;
	height:41px;
	display:none;
}

#productsimage {
	background: url(/images/map-products.jpg);
	position: absolute;
	top: 0px;
	right: 0px;
	width: 226px;
	height: 138px;
}

/* --------------------------------- Main navigation ----------------------------------*/

/*#mainnav {
	background-color: #999;
}

#mainnav ul {
	margin: 0;
	padding: 0;
	background: #f2f2f2 url(/images/nav.png);
	background-position:bottom;
	background-repeat:repeat-x;
	height: 29px;
	width: 100%;
	/*overflow: hidden;	/*	to appear to contain its floating children	*//*
}

#mainnav li.this {
	background-color:#000;
	background-image:url(/images/bg-nav-black.gif);
	
}

body.home #mainnav li.this {
	background:none;
}

#mainnav li.this a { color:#fff; }

#mainnav li {
	list-style: none;
	float: left;
	border-left: 1px solid #858381;
	border-right: 1px solid #dad9d8;
	margin: 1px 0 0 -2px;
	padding-top:3px;
	padding-bottom:8px;
	font-size: 1.2em;
	border-bottom:1px solid #555555;
}

#mainnav li a {
	display: block;
	padding: 1px 24px;
	color: #000;
	text-decoration: none;
	font-weight:bold;
}

#mainnav li a:hover {
	color: #000 !important;
	text-decoration: underline;
}

#mainnav li.this a:hover {
	color:#fff !important;
}

body.home #mainnav li.this a {
	color:#000 !important;
}*/


#slideshow { 
	height:280px;
}

#udm {
	background-image:url(/images/nav-wide.png);
	border-bottom:1px solid #555555;
}

#udm li 
{ 
	width:100px; 
	border-top:0px solid #efeeee !important;
}

#udm li.this {
	border-top:0px solid #000 !important;
}

#udm li ul li {
	width:150px;
	border-top:0px solid #858381 !important;
}

#udm li a { 
	text-align:center;
	border-top:0px solid #efeeee !important;
	padding-top:6px !important;
}

#udm li ul a {
	text-align:left;
	border-top:0px solid #858381 !important;
	padding-top:3px !important;
}

#udm > li > a {
	padding-top:6px !important;
	padding-bottom:9px !important;
}

/*#udm li.this a { 
	background:none !important;
	color:white;
}*/

#udm li a.this {
	background-color:#000 !important; 
	background-image:url(/images/bg-nav-black.png); !important; 
	color:#fff !important; 
	border-right:0px solid black !important;
	border-top:0px solid black !important;
}

#udm li.this a:hover {
	
}

#udm li.home a {
	border-left:0px;
}


/*#udm li ul a {
	text-align:left;
	padding:4px 8px !important;
}*/

/* ---------------------------- Breadcrumbs ---------------------------------------*/

#crumb {
}

#crumb p {
	color: #aaa;
	font-size: 0.9em;
	margin: 0;
	padding: 2px 0;
}

#crumb a {
	color: #aaa;
}
#crumb a:hover {
	text-decoration: none;
	color: #888;
}


/* ---------------------------- Latest news ---------------------------------------*/

ul.latestnews {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.latestnews li {
	margin: 12px 10px;
}

/* ------------------------------ Newsletter signup ---------------------------------------*/

form#newslettersignup {
	margin: 10px;
}
#newslettersignup label {
	font-weight: bold;
	width: 70px;
}
#newslettersignup .buttongroup  {
	margin: 5px 0;
	padding-left: 72px;
}

/* ---------------------------- Content boxes ---------------------------------------*/

.contentboxes {
	float: right;
	width: 200px;
	margin-left: 10px;
}
.contentboxes .box {
	margin: 2px 0 10px 0;
	/*background: url(/images/productoverview-bottom.gif) no-repeat bottom left;*/
	background: url(/images/boxes-header-bg.png) left top no-repeat;
	padding-top:25px;
	font-size: 9px;
}
.contentboxes .box .inner {
	padding: 0px 5px 5px 0;
	border:1px solid #B8B8B8;
	border-top:0px;
}
.contentboxes .box h1,
.contentboxes .box h3,
.contentboxes .box h4 {
	font: 11px /1 Verdana, sans-serif;
	color: #fefefe;
	margin: 0 8px 8px 0;
	font-weight:bold;
	padding-left: 25px;
	width:167px;
	position:relative;
	top:-19px;
	margin-bottom:-10px;
}

.contentboxes .box img {
	margin-left: 10px;
}
.contentboxes .box p img {
	margin-left: 5px;
}
.contentboxes .box p {
	margin: 2px 6px 2px 10px;
}
.contentboxes .box a {
	text-decoration: none;
}
.contentboxes .box a:hover {
	text-decoration: underline;
}
.contentboxes p.more {
	margin-top: 15px;
}
.contentboxes p.more a {
	color:black;
	text-decoration:underline;
}

/* --------------------------- Newsletter signup within a box --------------------------------*/

.contentboxes form#newslettersignup {
	margin: 10px;
}
.contentboxes #newslettersignup label {
	font-weight: bold;
	width: 60px;
}
.contentboxes #newslettersignup .buttongroup  {
	margin: 5px 0;
	padding-left: 62px;
}

/* ---------------------------- Footer boxes ---------------------------------------*/

#supportingcontent {
	clear: both;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	float: left;
	width: 769px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff url(/images/graystripefade.gif) repeat-x;

}

#supportingcontent .supportcol {
	float: left;
	width: 243px;
	min-height: 170px;
	margin: 0 12px 0 4px;
	background: url(/images/support-bottom.gif) no-repeat bottom;
}

#supportingcontent .last {
	margin-right: 0;
}
#supportingcontent .supportcol .colcontent {
	padding: 0 15px 0 15px;
}

#supportingcontent ul {
	margin: 0;
	padding: 0;
}

#supportingcontent li {
	margin-left: 10px;
	list-style-type: disc;
}

#supportingcontent form {
	margin: 0;
	padding: 0;
}

#supportingcontent form p {
	clear: left;
}

#supportingcontent form p label {
	float: left;
	width: 60px;
}

#supportingcontent form select {
	width: 150px;
}

#supportingcontent form input.button {
	float: right;
}

.supportcol .heading {
	height: 18px;
	background: url(/images/boxheader.gif) left top no-repeat;
	padding-top: 4px;
}
.supportcol h3 {
	height: 15px;
	margin-left: 25px;
	color: #fff;
	font-size: 12px;
}

/* ---------------------------- Footer ---------------------------------------*/

#footer-dropshadow {
	background-image:url(/images/footer-dropshadow.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	width: 801px;
	height:13px;
	padding-left: 11px;
	padding-right: 14px;
}

#footer {
	clear: both;
	font-size: 0.8em;
	background-color: #7f8180;
	/*background-color:#9fA1A0;*/
	/*border-top: 1px solid #515151;*/
	color: #fff;
	height: 35px;
	position: relative;
	padding: 0;
}
#footer p {
	margin: 0;
	padding: 12px;
}

#footer span, #footer a {
    margin-right:0px;
}

#footer a {
	color: #fff;
 	text-decoration:none;
	background-image:url(/images/footer-seperator.png);
	background-repeat:no-repeat;
	background-position:10px 1px;
	padding-left:25px;
	margin-right:0px;
}
#footer a:hover {
	color: #f00;
}

#footer-links {
        font-size:1.1em;
	position: absolute;
	left:24px;
	top:7px;
	height:20px;
	text-align:left;
	width:400px;
	white-space:nowrap;
	padding: 7px 0 4px 0;
	display:block;
}

#social-media {
        font-size:1.1em;
	position: absolute;
	top: 7px;
	height:20px;
	left: 475px;
	text-align: left;
	width: 100px;
	white-space: nowrap;
}

#social-media a {
	color: #fff;
	text-decoration:none;
	background-image:none;
	background-repeat:no-repeat;
	background-position:initial;
	height:20px;
	padding-left:3px;
	margin-right:3px;
	top: 0px;
}

#utilities-container {
	width: 100%;
}

#utilities {
	position: absolute;
	top: 30px;
	right: 34px;
}

#utilities ul {
	margin: 0;
	padding: 0;
	float: right;
}

#utilities a {
	color: #fff;
}

#utilities ul li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
	float: left;
}

#utilities ul li a img {
	position:relative;
	top:1px;
}

form#search {
	position: absolute;
	top: 45px;
	right: 34px;
	margin: 0;
	padding: 0;
}
/*.button.go { background-color:white; }*/
form#search #keyword {
	border:1px solid #777777;
}

form#search label {
	float: none;
	font-weight: normal;
	color: #fff;
}

#cms {
	position: absolute;
	top: 0;
	right: 10px;
	font-weight: bold;
}

#cms a {
	color: red;
}

#region-chooser {
        font-size:1.1em;
	position: absolute;
	top: 7px;
	right: 24px;
	text-align: right;
	width: 200px;
	white-space: nowrap;
}
#region-chooser label {
	width: auto;
	float: none;
	display: inline;
	color: #fff;
	padding: 7px 0 4px 0;
}
#region-chooser select {
	padding: 0;
	margin: 0;
}
#region-chooser input.button {
	padding: 0px 4px;
	font-size: 11px;
}

/* ---------------------------- Subnav ---------------------------------------*/

/*#subnav {
	width: 205px;
	float: left;
	padding: 0 2px 0 0;
}
#subnav.empty {
	background: none;
}
body.home #subnav.empty {
	display: none;
}

#subnav .heading {
	background: transparent url(/images/subnav-h3.gif) no-repeat;
	height: 32px;
	padding: 12px 0 0 0;
}
#subnav h3 {
	margin: 0 4px 0 35px;
	padding: 0;
	display: block;
	color: #fff;
	text-transform: uppercase;
	height: 14px;
	font-size: 14px;
	letter-spacing: 0.2em;
}

#subnav ul {
	margin: 0;
	padding: 0;
}

#subnav li {
	list-style: none;
	border-bottom: 1px dotted #fff;
	margin: 0;
	padding: 5px;
}

#subnav a {
	display: block;
	text-decoration: none;
	padding: 2px 0;
	color: #000;
}

#subnav a:hover {
	text-decoration: underline;
}

#subnav ul ul {
	padding-left: 15px;
}

#subnav ul ul li {
	background: transparent url(/images/subnav-arrow.gif) 0 10px no-repeat;
	padding-left: 10px;
	border-bottom: none;
}
#subnav li.category a,
#subnav li.thiscategory li.category a,
#subnav li.thiscategory li.content a {
	font-weight: normal;
}
#subnav li.thiscategory a {
	font-weight: bold;
}
#subnav li.content a {
	font-weight: normal;
}
#subnav li.thiscontent a {
	font-weight: bold;
}
#subnav p {
	margin: 10px;
}*/

#subnav {
	width:190px;
	background-color:#cecece;
	color:#000;
	margin:10px;
	background-image:url(/images/quicklinks-bg.png);
	float:left;
	border-top:10px solid white;
	margin-top:0px;
}

#subnav.empty {
	background:none;
}

#subnav .heading {
	width:190px;
	height:25px;
	background-image:url(/images/subnav-header-bg.jpg);
	background-repeat:no-repeat;
}

#subnav h3 {
	color:white;
	position:relative;
	top:6px;
	left:30px;
	font-size:1.1em;
}

#subnav a {
	font-weight:bold;
	text-decoration:none;
}

#subnav a {
	color:#000;
}

#subnav a:hover {
	text-decoration:underline;
}

#subnav ul, #subnav li {
	margin:0;
	padding:0;
}

#subnav li {
	padding:8px 10px;
}

#subnav li p {
	margin-top:2px;
}

#subnav ul ul {
	padding-left:20px;
	padding-top:1px;
}

#subnav ul ul li {
	list-style-type:disc;
	border:none;
	padding:0;
	padding-top:2px;
}

#subnav ul ul li a {
	font-weight:normal;
}

#subnav ul li {
	border-top:2px solid white;/*
	border-bottom:1px solid white;*/
	list-style-type:none;
}

#subnav ul {
	/*border-top:1px solid white;
	border-bottom:1px solid white;*/
	border-bottom:2px solid white;
}

#subnav ul ul {
	border:0px;
}

/*#subnav .news {	background-image:url(/images/news-bg.png); } #subnav .news h3 { display:none; }
#subnav .products {	background-image:url(/images/products-bg.png); } #subnav .products h3 { display:none; }
#subnav .software {	background-image:url(/images/software-bg.png); } #subnav .software h3 { display:none; }
#subnav .support {	background-image:url(/images/support-bg.png); } #subnav .support h3 { display:none; }
#subnav .dealers {	background-image:url(/images/dealers-bg.png); } #subnav .dealers h3 { display:none; }
*/
#subnav li.thiscontent a { color:#df0024; }
#subnav li.thiscategory a { color:#df0024; }

#subnav li.thiscategory li a { color:#000; }

#subnav li.thiscategory li.thiscategory a { color:#df0024; }

#subnav li.thiscategory li.thiscategory li a { color:#000; }

#subnav li.thiscategory li.thiscategory li.thiscategory a { color:#df0024; }

#subnav li.thiscategory li.thiscategory li.thiscategory li a { color:#000; }

#subnav li.thiscategory li.thiscategory li.thiscategory li.thiscontent a { color:#df0024; }
#subnav li.thiscategory li.thiscategory li.thiscategory li.thiscategory a { color:#df0024; }

#subnav li li ul { display:none !important; }

#subnav ul.show { display:block !important; }

/* ------------------------------ Forms ---------------------------------------*/

#maincontent { float:left; width:200px; }

#maincontent form {
	margin: 0;
	padding: 0;
}
#maincontent form div {
	clear: left;
	margin: 1em 0;
}
#maincontent form div label {
	float: left;
	width: 100px;
}
#maincontent form div.buttongroup {
	padding-left: 100px;
}


/* ----------------------------- SIFR ------------------------------------ */
/* This goes in the stylesheet to hide the browser text before it is replaced */

/*
.sIFR-hasFlash #featureimg h1 {
	visibility: hidden;
	margin-top: 9px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px;
	white-space: nowrap;
}
*/

.sIFR-hasFlash h2#tagline {
	visibility: hidden;
	font-size: 15px;
	line-height: 18px;
	word-spacing: 8px;
	letter-spacing: -1px;
	width: 255px;
	height: 60px;
}

.sIFR-hasFlash #featurecol h3 {
	visibility: hidden;
	margin-top: -1px;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 17px;
}

.sIFR-hasFlash .featurebox h1,
.sIFR-hasFlash .featurebox h3 {
	visibility: hidden;
	margin-top: 4px;
	margin-right: 10px;
	margin-bottom: 12px;
	padding-top: 2px;
	padding-bottom: 0;
	position: relative;
	top: 6px;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	white-space: nowrap;
}

.sIFR-hasFlash .supportcol h3 {
	visibility: hidden;
}

.sIFR-hasFlash #subnav h3 {
	visibility: hidden;
}

.sIFR-hasFlash .contentboxes .box h1,
.sIFR-hasFlash .contentboxes .box h3 {
	visibility: hidden;
	line-height: 13px;
	font-size: 13px;
}

.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

.bgblack p, .bgred p, .bgblue p, .bglightblue p, .bgdarkgrey p, .bglightgrey p {
	margin-bottom:3px !important;
	padding-top:3px;
}

/* ------------------- Chinese Pages Specific Styles ------------------------ */

body.chinesepages div.articlecontent p {
	font-size:1.2em;
	line-height:1.5;
}

body.chinesepages div.articlecontent h1,
body.chinesepages div.articlecontent h2,
body.chinesepages div.articlecontent h3,
body.chinesepages div.articlecontent h4,
body.chinesepages div.articlecontent h5,
body.chinesepages div.articlecontent h6 {
	font-size:1.3em;
	line-height:1.5;
}
